<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta property="og:title" content="Jeo's Page"/>
    <meta property="og:description" content="곧 있으면 항해 99"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpeg') }}"/>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">


    <!-- App CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


</head>
<body>


<header id="header">
    <div class="header">

        <div class="header_menu">
            <a href="#" class="myPgBtn">My Page</a>
            <a href="#" class="loginBtn">Login</a>
        </div>

    </div>
</header>

<div class="wrap">

    <div class="logo">
        InAirpod
    </div>

    <div class="wrap-box_search">
        <input type="text" class="input_search" placeholder="검색어를 입력해주세요">
        <button type="button" class="btn btn-search">검색</button>
    </div>


    <div class="card-box">
<!-- 이하 44라인정도 하나의 카드-->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                 src="https://musicmeta-phinf.pstatic.net/album/000/407/407181.jpg?type=r480Fll&v=20131210120311"
                 alt="Card image cap">
            <div class="card-body">
                <span class="title">하품만 나오네</span>

                <span class="singer">이승윤</span>
                <div class="writer-box">
                    <img class="writer-img"
                         src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                    <span class="writer-name">겨울의 스누피</span>
                </div>
                <div class="description">너무 좋아하는 노래에요!!!</div>
                <div class="date">2021년 1월 10일</div>

                <div class="comments-wrap">
                    <p>댓글</p>
                    <div class="comment-box comment-box1">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>

                    <div class="comment-box comment-box2">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>
                </div>
                <div class="buttons-box">
                    <a href=# onclick="" class="card-footer-item has-text-info like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-counts">좋아요 수</span>
                    </a>

                    <a href=# onclick="" class="card-footer-item has-text-info">
                        <i class="fas fa-search-plus"></i>
                        <span class="like-counts">자세히보기</span>
                    </a>
                </div>


            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                 src="https://musicmeta-phinf.pstatic.net/album/000/407/407181.jpg?type=r480Fll&v=20131210120311"
                 alt="Card image cap">
            <div class="card-body">
                <span class="title">하품만 나오네</span>

                <span class="singer">이승윤</span>
                <div class="writer-box">
                    <img class="writer-img"
                         src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                    <span class="writer-name">겨울의 스누피</span>
                </div>
                <div class="description">너무 좋아하는 노래에요!!!</div>
                <div class="date">2021년 1월 10일</div>

                <div class="comments-wrap">
                    <p>댓글</p>
                    <div class="comment-box comment-box1">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>

                    <div class="comment-box comment-box2">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>
                </div>
                <div class="buttons-box">
                    <a href=# onclick="" class="card-footer-item has-text-info like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-counts">좋아요 수</span>
                    </a>

                    <a href=# onclick="" class="card-footer-item has-text-info">
                        <i class="fas fa-search-plus"></i>
                        <span class="like-counts">자세히보기</span>
                    </a>
                </div>


            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                 src="https://musicmeta-phinf.pstatic.net/album/000/407/407181.jpg?type=r480Fll&v=20131210120311"
                 alt="Card image cap">
            <div class="card-body">
                <span class="title">하품만 나오네</span>

                <span class="singer">이승윤</span>
                <div class="writer-box">
                    <img class="writer-img"
                         src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                    <span class="writer-name">겨울의 스누피</span>
                </div>
                <div class="description">너무 좋아하는 노래에요!!!</div>
                <div class="date">2021년 1월 10일</div>

                <div class="comments-wrap">
                    <p>댓글</p>
                    <div class="comment-box comment-box1">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>

                    <div class="comment-box comment-box2">
                        <img class="commenter-img"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fshop1.phinf.naver.net%2F20211227_62%2F1640615471329w8jX4_JPEG%2F41751250936821328_900893847.jpg&type=sc960_832">
                        <span class="writer-name">최고에요~</span>
                    </div>
                </div>
                <div class="buttons-box">
                    <a href=# onclick="" class="card-footer-item has-text-info like-btn">
                        <i class="fas fa-heart"></i>
                        <span class="like-counts">좋아요 수</span>
                    </a>

                    <a href=# onclick="" class="card-footer-item has-text-info">
                        <i class="fas fa-search-plus"></i>
                        <span class="like-counts">자세히보기</span>
                    </a>
                </div>


            </div>
        </div>

    </div>

</div>


</body>
</html>